<tr class="table">
    <td><a class="active" title="PID22544" href="/vkoutlet/?value=22544&amp;date=&amp;nappi=haku&amp;activity=both">519091</a></td>
    <td><a class="active" title="PID luotu: 18.4.2005" href="/vkoutlet/?value=Sony+AC-L%25%25%25+verkkoadapteri+Sony+Handycam+digikameroille&amp;date=&amp;alkaen=&amp;nappi=haku&amp;activity=both&amp;sort=pid">Sony AC-L200 verkkoadapteri Sony Handycam digikameroille</a></td>
    <td><span class="active">39,00€</span></td>
    <td><span class="active">64,90€</span></td>
    <td><span class="active">40 %</span></td>
    <td><span class="active">6 kk</span></td>
    <td><span class="active">B</span></td>
    <td><span class="active"></span></td>
    <td><span class="active"></span></td>
    <td><span class="active"></span></td>
    <td><span class="active"><div><span title="Tilattavissa. Varastossa kpl">0</span></div></span></td>
    <td><span class="active">2021-04-13</span></td>
    <td><span class="active">0/0</span></td>
</tr>