        <div class="container">
            
            
            <div class="row">
                <div class="col-md-12">
                    <table class="table taulukot">
                    <caption>Hintatarkkailussa</caption>
                    <thead>
                        <tr>
                        <td>Rajahinta</td>
                        <td>PID</td>
                        <td>Nimi</td>
                        </tr>
                    </thead>
                    {% for row in spiraalissa %}
                    <tr>
                        <td><span class="active">{{ row.getCount() }}</span></td>
                        <td><a class="active" href="/search/pid/{{ row.getPid() }}">{{ row.getPid() }}</a></td>
                        <td><span class="active">{{ row.getName() }}</span></td>
                    </tr>
                    {% endfor %}
                </table>
                        
    
            
                </div>
            </div>
        </div>
