table {
    border-spacing: 8px 12px;
    border-collapse: separate;
    
}
td    {
    padding: 2px;
    
}

.button {
  border: black;
  border-style: solid;
  border-width: 2px;
  color: black;
  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  width:75px;
  height: 90px;
}


.usage{
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  height: 50px;
}

.content{
    text-align: top;
    width: 250px;
    height: 150px;
}