<html xmlns="http://www.w3.org/1999/xhtml" >
    <head lang="en">
        {{ include('fragments/_head.html.twig') }}
    </head>
    <body> {% block body %}
        <header>
            {{ include('fragments/_top_navi.html.twig') }}   
        </header>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h4>OUT123456 - Tuotteen nimi, musta 64 GB</h4></div>
                <div class="col-md-4 col-xs-12">
                    <table class="table">
                        <tr><td>Hinta</td><td>1000 €</td></tr>
                        <tr><td>Normaali hinta</td><td> 1500 €</td></tr>
                        <tr><td>Alennus</td><td> 500 €</td></tr>
                        <tr><td>Alennusprosentti</td><td>33,33%</td></tr>
                        <tr><td>Takuu</td><td>12 kk</td></tr>
                    </table>
                </div>
                <div class="col-md-4 col-xs-12">
                    <table class="table">
                        <tr><td>Pid</td><td>56722</td></tr>
                        <tr><td>Pid luotu</td><td>2018-01-23</td></tr>
                        <tr><td>Ensikertaa nähty</td><td>2021-01-03</td></tr>
                        <tr><td>Hinta muuttunut viimeksi</td><td>2021-02-06</td></tr>
                    </table>
                </div>
                <div class="col-md-4 col-xs-12">
                    <table class="table">
                        <tr><td>Päiviä aktiivisena</td><td>32 pv</td></tr>
                        <tr><td>Viimeisimmällä hinnalla</td><td>4 pv</td></tr>
                        <tr><td>Samoja aktiivisena</td><td>5 kpl</td></tr>
                        <tr><td>Samoja poistunut</td><td>15 kpl</td></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <caption>Myynnissä - 5kpl</caption>
                        {{ include('fragments/_outTable.html.twig') }}
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <caption>Poistuneet - 5kpl</caption>
                        {{ include('fragments/_outTable.html.twig') }}
                    </table>
                </div>
            </div>
        </div>
            {% endblock %}
    </body>
